body
{
    font-family: 'Segoe UI light', Tahoma, Geneva, Verdana, sans-serif;
   background-color: #f5f5f5;
}
p
{
    font-weight: 300;
}
h2 , h3
{
    font-weight: 600;
}
.top-content p
{
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.top-content p::after
{
content:"";
width: 3rem;
height: .3rem;
background-color: #0078ff;
margin-top: 1rem;
}
/* All */


.nav-bar
{
    background-color: rgba(0,0,0,.7);
}
.nav-bar .logo
{
    font-size: 1.75rem;
    font-weight: 700;
}
.nav-bar li a
{
    font-size: 1rem;
    font-weight: 700;
    padding:.5rem 0;
    font-weight: 600;
    text-decoration: none;
    color: white;
}
.nav-bar .nav-item .dropdown-item 
{
    color:black;
    font-size: 1rem;
    font-weight: 300;
}
.nav-bar .nav-item .dropd
{
    color:black;
    font-size: 1rem;
    font-weight: 300;
}
.nav-bar ul .active
{
position: relative;
}
.nav-bar ul .active::before
{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 85%;
    height: .1rem;
    background-color: white;
}
.navbar li
{
    margin: 0 15 ;
    padding-bottom: .2rem;
    position: relative;
}
.navbar li::after
{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: .1rem;
    background-color: white;
    transition: width .5s ;
}
.navbar li:hover::after
{
 width: 85%;
}
/* End Of NavBar */

header
{
    background-image: url(../images/hero-bg.jpg);
    background-position: center center;
    background-size: cover;
}
.layer
{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.6);
}
header .caption
{
    color: white;
}
header .caption h1
{
    font-weight: 600;
    font-size: 4.5rem;
    margin: 1.5rem;
}
header .caption .title h3::after
{
    content:"";
    position: absolute;
    top: 0;
    left: 100%;
    width: 3px;
    height:100%;
    background-color: white;
    animation: hide 3s infinite;
}
@keyframes hide
{
    0%
    {
      left:0;
      opacity: .4;
    }
    50%
    {
        left: 100%;
        opacity: 1;
    }
    100%
    {
        left: 0;
        opacity: .4;
    }
}

header .caption .title .Designer
{
    overflow: hidden;
}
header .caption .title .Designer h3
{
    overflow: hidden;
    animation: designer 12s infinite;
    height: 100%;
    padding-bottom: 5px;
    margin: 0;
}
@keyframes designer
{
    0%
    {
        width: 0;
    }
    12.5%
    {
        width: 100%;
    }
    25%
    {
        width: 0;
    }
   100%
    {
        width: 0;
    }
}

header .caption .title .Developer
{
    overflow: hidden;
}
header .caption .title .Developer h3
{
    overflow: hidden;
    animation: developer 12s infinite;
    padding-bottom: 5px;
    margin: 0;
}
@keyframes developer
{
    0%
    {
        width: 0;
    }
    25%
    {
        width: 0;
    }
    37.5%
    {
        width: 100%;
    }
    50%
    {
        width: 0;
    }
    100%
    {
        width: 0;
    }
}

header .caption .title .Freelancer
{
    overflow: hidden;
}
header .caption .title .Freelancer h3
{
    overflow: hidden;
    animation: freelancer 12s infinite;
    margin: 0;
    padding-bottom: 5px;
}
@keyframes freelancer
{
    0%
    {
        width: 0;
    }
    50%
    {
        width: 0;
    }
    62.5%
    {
        width: 100%;
    }
    75%
    {
        width: 0;
    }
    100%
    {
        width: 0;
    }
}

header .caption .title .Photographer
{
    overflow: hidden;
}
header .caption .title .Photographer h3
{
    overflow: hidden;
    animation: photographer 12s infinite;
    margin: 0;
        padding-bottom: 5px;
}
@keyframes photographer
{
    0%
    {
        width: 0;
    }
    75%
    {
        width: 0;
    }
    87.5%
    {
        width: 100%;
    }
    100%
    {
        width: 0;
    }
}
/* End Of (Header) */

.about .skills p
{
    margin: 1rem 0 .4rem 0;
}
.about-me p
{
    line-height: 2rem;
}
.about h2
{
position: relative;
padding-bottom: .5rem;
margin-bottom: 2rem;
}
.about h2::after
{
content: "";
width: 5rem;
height: 3px;
background-color:#0078ff ;
position: absolute;
left: 0;
bottom: 0;
}
/* End Of (About) Section */

.services .item .icon
{
width: 130;
height: 130;
border: 8px #0078ff solid;
background-color: white;
transition:background-color .3s ,border .5s ;
}

.services .item:hover .icon
{
    background-color:#0078ff ;
    border: 8px #cde1f8 solid;
}
.services .item h3
{
    font-size: 1.4rem;
}
/* end of Services */

.records
{
    background-image: url(../images/counters-bg.jpg);
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}
.records .blue-layer
{
    background-color: rgba(46, 105, 194, 0.671);
    position: absolute;
    top:0;
    width: 100%;
    height: 100%;
}

.records .item .icon
{
width: 80;
height: 80;
color: white;
border: 8px #cde1f8 solid;
transition:background-color .3s ,border .5s ;
}
/* End Of Records */

.portoflio .item img
{
    transition: transform 1s;
    cursor: pointer;
}
.portoflio .item:hover img
{
transform: scale(1.5);
}
.portoflio .item a
{
    color:#0078ff;
}
/* End Of Portfolio */


.tetmonial
{
    background-image: url(../images/overlay-bg.jpg);
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}
.tetmonial .blue-layer
{
    background-color: rgba(46, 105, 194, 0.671);
    position: absolute;
    top:0;
    width: 100%;
    height: 100%;
}
.tetmonial li
{
    width: .8rem;
    height: .8rem;
    border-radius: 50%;
}
/* End oF Testmonial */

.blog .item .caption
{
    border:1px solid rgba(0,0,0,.125) ;
}
.blog .item .caption h6
{
background-color: #0078ff;
padding: 5 10;
font-size: .8rem;
transform: translate(0,-50%);
margin: 0;
}
.blog .item .item-bottom
{
    border-top:1px solid rgba(0,0,0,.125);
    background-color:  rgba(0,0,0,.03);
}
.blog .item .item-bottom img
{
    width: 2rem;
}
.blog .item .caption .content a
{
  font-weight: 600;
}
.blog .item .caption a
{
    text-decoration: none;
    color: black;
}
.item .item-bottom a
{
transition:color .5s ;
}
.item .item-bottom a:hover
{
    color: #0078ff;
}
.item .caption h4 a
{
transition:color .5s ;
font-size: 1.2rem;
}
.item .caption h4:hover a
{
    color: #0078ff;
}
/* End Of Blog */

.contact
{
    background-image: url(../images/overlay-bg.jpg);
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    box-shadow: 0px 0px 2px  rgba(32, 5, 5, 0.692) ;
}
.contact .blue-layer
{
    background-color: rgba(46, 105, 194, 0.671);
    position: absolute;
    top:0;
    width: 100%;
    height: 100%;
}

.contact h3
{
position: relative;
padding-bottom: .5rem;
margin-bottom: 2rem;
}
.contact h3::after
{
content: "";
width: 5rem;
height: 3px;
background-color:#0078ff ;
position: absolute;
left: 0;
bottom: 0;
}

.contact form input
{
    border: 1px solid #ced4da;
    font-size: .8rem;
}
.contact form textarea
{
    border: 1px solid #ced4da;
    font-size: .8rem;
}
.contact form button
{
    background-color:   #0078ff;
    border: none;
    padding: .5rem 1rem;
    color: white;
    border: transparent 4px solid;
    transition: border .5s , background-color .5s;
}
.contact form button:hover
{
border: rgb(148, 195, 235) 4px solid;
background-color:   #3787e2;
}

.contact .icon a
{
    text-decoration: none;
    color: #212529;
}
.contact .icon
{
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border:#0078ff 3px solid;
    transition: border .5s , background-color .5s;
}
.contact .icon:hover
{
    border: rgb(148, 195, 235) 3px solid;
    background-color:   #3787e2;
}
/* End Of Contact */

footer
{

    background-color:#0062d3 ;
    color: white;
}




@media all and (max-width:992px)
{
    .nav-bar ul
    {
        background-color: white;
    }
    .nav-bar .nav-item a
    {
      
        color: #4e4e4e;
        transition: color .2s;
    }
    .nav-bar .nav-item a:hover
    {
        color: #007bff;
    }
    
    .nav-bar ul .active a
    {
    color: #007bff;
    }
    .nav-bar ul .active::before
    {
        background-color: transparent;
    }
}


@media all and (max-width:768px)
{
    header .caption h1
    {
        font-size: 3rem;
    }

}